.seat-selection-seat-type {
    display: flex;
    flex-direction: column;

    padding-bottom: 30px;
    background-color: white;
}

.seat-selection-seat-type > h3 {
    margin-top: 27px;
    margin-bottom: 25px;
    margin-left: 20px;
    color: black;
    text-align: left;
}

.seat-type-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.seat-type-list li {
    display: flex;
    flex-direction: column;
}

.seat-type-item div {
    height: 50px;
    max-width: 50px;
    margin-bottom: 20px;
    align-self: center;
}
