.seat-selection-wagons-info{
    display: flex;
    flex-direction: column;
}

.seat-selection-wagons-info > header {
    background: rgba(255, 168, 0, 0.44);
    padding: 4px 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #292929;
    font-size: 16px;
}

.wagons-sort {
    display: flex;
    align-items: center;
}

.wagons-sort > h4 {
    margin: 0 5px 0 0;
    font-weight: 400;
}

.wagons-sort-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.wagons-sort-list > li.selected {
    color: #fff;
}
.wagons-sort-list > li:not(:last-of-type) {
    margin-right: 5px;
}
.wagons-sort-list > li {
    font-weight: 700;
    cursor: pointer;
}

.wagons-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wagons-list-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
    border-bottom: 1px solid #C4C4C4;
}

.wagon-main-info {
    display: flex;
}

.wagon-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 60px 30px 30px;
    color: #292929;
    background-color: #FFD98F;
}
