section.routes_search{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    background-repeat: no-repeat;
    border-bottom: 8px solid #FFA800;
}

.routes_search_wrap{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}


div.routes_search{
    display: flex;
    flex-direction: column;
    background: rgba(41, 41, 41, 0.8);
    margin-top: 195px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}

.routes_search .controls{
    display: flex;
    flex-direction: row;
}

.controls{
    margin-left: auto;
    margin-right: auto;
}

.motto {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 72px;
    font-weight: 200;
    line-height: 84px;

    margin-right: 105px;
    margin-left: 120px;
    text-align: left;
    align-self: center;
}


.direction > .h3 {
    width: auto;
    text-align: left;
}

.from, .to {
    width: 300px;
    border-radius: 5px;
    padding: 10px;
}

.routes_search h3{
    font-size: 30px;
    color: white;
    text-align: left;
    font-weight: lighter;
}

.pic-refresh {
    width: 30px;
    height: 30px;
    background-image: url("../img/reload.png");
    filter: invert(100%);
    background-size: 30px;
}

.search-btn {
    width: 320px;
    background-color: #FFA800;
    border: 1px solid #FFA800;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 16px 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #292929;
    align-self: flex-end;
    margin-top: 47px;
    cursor: pointer;
}
