section.routes_search {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    border-bottom: 8px solid #FFA800;
}

.routes_search_wrap {
    display: flex;
    flex-direction: row;
    margin-top: 195px;
    margin-left: auto;
    margin-right: auto;
}

.routes_search_wrap.hor {
    margin-top: 60px;
    width: 84%;
}

div.routes_search {
    display: flex;
    flex-direction: column;
    background: rgba(41, 41, 41, 0.8);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 93px;
}

div.routes_search.hor {
    width: 100%;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
}

.routes_search .controls {
    display: flex;
    flex-direction: row;
}

.controls {
    margin-left: auto;
    margin-right: auto;
}

.motto {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 72px;
    font-weight: 200;
    line-height: 84px;

    margin-right: 105px;
    margin-left: 120px;
    text-align: left;
    align-self: center;
}


.direction > .h3 {
    width: auto;
    text-align: left;
}

.from, .to {
    width: 300px;
    border-radius: 5px;
    padding: 10px;
}

div.routes_search h3 {
    font-size: 30px;
    color: white;
    text-align: left;
    font-weight: lighter;
}

.pic-refresh {
    width: 30px;
    height: 30px;
    background-image: url("../img/reload.png");
    filter: invert(100%);
    background-size: 30px;
}

.search-btn {
    width: 320px;
    background-color: #FFA800;
    border: 1px solid #FFA800;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 16px 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #292929;
    align-self: flex-end;
    cursor: pointer;
}

.action_btn {
    margin-left: auto;
    margin-top: 45px;
}

.action_btn.hor {
    margin-bottom: 10px;
}

.direction_and_date.hor {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
