.refreshing_area {
    background-color: #E5E5E5;

    border: 1px solid black;

}

.middle_wrapper {
    width: 1350px;
    min-height: 850px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;

    margin: 90px auto;
}

.routes_wrap {
    display: flex;
    flex-direction: column;
    width: 60%;
}


.routes-list {
    display: flex;
    flex-direction: column;
}

.thnx{
    position: absolute;
    top: -300px;
}
