@import url("../seatSelection/getBack/getback.css");
@import url("../seatSelection/train_info/trainInfo.css");
@import url("../seatSelection/tickets_number/ticketsNumber.css");
@import url("../seatSelection/wagon/type.css");
@import url("../seatSelection/wagon/wagonInfo.css");

.seats-selection-wrapper{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-left: 70px;
}


