.routes_pagination {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.pagination_item {
    display: flex;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin: 5px;

    align-items: center;
    border: 2px solid #C4C4C4;
    border-radius: 4px;
    color: #928F94;

    cursor: pointer;
}

.pagination_item:hover {
    border-color: #FFA800;
    border-width: 2px;
    color: #FFA800;
}

.pagination_arrow {
    width: 30px;
    height: 30px;
    filter: grayscale(0.5);
}

.pagination_item.active {
    border-color: #FFA800;
    background-color: #FFA800;
    color: white
}
