.main-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-color: #000000;
}

.bgr1 {
    background-image: url("../img/train_header.png");
}

.bgr2 {
    background-image: url("../img/train_header2.png");
}


.bgr3 {
    background-image: url("../img/thnx.png");
}
