.progressbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    color: white;
}

.stage {
    display: flex;
    width: 25%;
    height: 100px;
    background-color: #3e3c41;
    position: relative;
}

.stage.active {
    background-color: #FFA800;
}

.stage > span, .stage > div {
    margin: auto;
}

.number {
    display: flex;

    width: 60px;
    height: 60px;
    border: 3px solid white;
    border-radius: 150px;
    font-size: 30px;
    font-weight: 700;
}

.number > span {
    margin: auto;
}


.stage-title {
    font-size: 30px;
    font-weight: 700;
}

.stage-arrow.inactive {
    border-left: 40px solid #3e3c41;
}

.stage-arrow.active {
    border-left: 40px solid #FFA800;
}


.stage-arrow {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    right: -40px;
    z-index: 2;
}
