.form-search {
    display: flex;
    height: 350px;
    padding: 28px 40px 76px;
    margin: 100px auto 0;
}

.form-search {
    background-color: rgba(41, 41, 41, 0.8);
    padding: 80px 22px 52px;
    box-sizing: border-box;
}

.form-wrapper{
    display: flex;
    flex-direction: row;
}

.form-search-ticket {
    display: flex;
    flex-direction: column;
}

.order-page .form-wrapper {
    display: flex;
    justify-content: space-between;
}

.order-page .form-way-section {
    margin: 0;
}

fieldset {
    border: none;
    padding: 0;
}

.form-search-ticket legend {
    font-size: 30px;
    color: #fff;
    text-align: left;
    padding: 0;
}

.form-way {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.form-search-ticket input {
    padding: 18px 0 21px 19px;
    border-radius: 5px;
    width: 325px;
    height: 60px;
    box-sizing: border-box;
}

.form-way input {
    width: 320px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAeCAYAAADD0FVVAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAH+SURBVHgBrVbLccIwEJVFBq7kyPAZ00HcAVQQqICkBDqACiAVkFRAUgGkAtyBNXyvPvNz3hrDgK21Dc6b0YC18tPqaT82BIPFYtEwDOMVo4FHE6OI4eLZPh6PX7vdblqv15XuXSM8sdlsTM/zBhgtkYzP7XbbD5MbYe+klOPAq7RQcKBdqVTsCOl8Pm/lcrmxeAwuiJtnYp+UjgydZnd6GCGGFBZJIekJu4wyEhKKhUJh5Hsa6DhJeIGOp3DzZtLmtAZ8shNHdjgc2uVy+Rl6WfQLmfox6wXsbTr+C7cA3nVrtdr39Vy1Wu3FEVNcG6vVymPsCp7VdQbHcYr5fN4ReilOF8V4qTgbbtjFj8vZJWcMLiUO3IW5RKoYo0mRoTMsl8s3jhQndCVE/xUMKGUp067nkCgdnGIgePykjVMbRBSrpjhVLBZYYz3t93sbN0m6xgX1CxaLFLAp/yXdJCT4EP8AbOzzXBcUR2TDJa79OC2VSiqrt9QNzv8vwQ9teyImoBOg8P4wQppFW2jZD7LMx007CXKairUp0iNSI25yP/D2XdwBVPtmeC5SUFDapmlloBKoa9OGbnFKGWwc29IZtKWPZKC2K3goHJu1s/WU0o0qv86GFtPlvk5iSQPiYVhf0jHcYu4G6YuWM6O2s16vH/3YiIJqAwrzhDZIs/4PPG0UNRxLQwkAAAAASUVORK5CYII=);
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 21px 30px;
    box-sizing: border-box;
}

.change-input {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFiSURBVHgB7ZS9SgNBFIVn4qJgJSiooKDWVloIIv4UYpN0Nr6ChYW1pa2Fhe9gY7U2IigBsbCwsY+Fgj8QsBIUwvpdcxOSzc7ObpqkyIGPs2Hunjsz2RljBuq1rK8giqIFbAUWYQwK8A7PcGWt/eiqAcEj2C6sG7eqcEyTb1dB4Agfxg5hDn7hBh7hDWowC0tQTgt3roAGe9imzvDUtw1pChLCpzVcZnpCeNVkEO+VxKkPUxugbfX7nOFFfW5rUkion1e/MznDVcXGalwNJtVfTf7wjiZWC6Wo5MgJWfKlSW8kW30GNWr3W8f+V6ABYTfhqhn1z/hAc4sSmmQNF62pV+IDbV+RBMpX0NLQK+onsFX9eR0f995FnvAp7ADG4ZZJncdrggwh8vKGqV8VLzAEchiXYQvkWpGL7yLpfesJH8WOdIYulSWc2f/kbqBN5FzsmPoBlGf5k77gCR4IrpiB+lp/eQN00675CQ0AAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
    width: 24px;
    height: 24px;
}

.order-page .change-input {
    margin: 0 7px;
}

.form-input_date input {
    width: 320px;
    box-sizing: border-box;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAiCAYAAABIiGl0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAE4SURBVHgB7ZfLbYQwEIZnkAvgDgfoYEsgHSQdhApSQpISUkG2hHSwlLAlWOJ15c4rv6MQGbRBy7KGA3wSMtbY+o0Ze2aYLpCmadu9t20buq57pAnEcRxYlnXq+o7j8HCMRSuxmvDPFuR57tV1/YLt8VQf2/uojTkzc0ETwHwbzeFPhPkLjd00zbksyw/f9yUnSXKAQf0Pm5ahwAKeOMuyE1YY0ILgQyPWPXhJtufV2xMWg76Eh0syADy5d7Z7whB9n3ovXwvui2eIf3b93bl2YWMImgEyjbcxe1VVRxUC6d7CiN+vY3YhRIRGXpxLK7EL78LGmHWcEM2iMftYWjxLGCH0gW5kgyXMIK8ufh8T2KRVK0Jl9Vol0TOaQjmlBeGQ/rnIDSFRuIV6tRhgJR4ZRB0viKpQWXwD0LJ16yRiWBkAAAAASUVORK5CYII=);
    background-position: right 15px center;
    background-repeat: no-repeat;
}

.order-page .form-search-btn {
    margin-top: 47px;
}

.form-search-btn {
    width: 320px;
    background-color: #FFA800;
    border: 1px solid #FFA800;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 16px 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #292929;
    align-self: flex-end;
    margin-top: 40px;
    cursor: pointer;
}
