.widget-search-wrapper{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}

.motto {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 72px;
    font-weight: 200;
    line-height: 84px;

    margin-right: 105px;
    margin-left: 120px;
    text-align: left;
    align-self: center;
}

.widget-search-ticket{
    display: flex;
    flex-direction: column;
    width: 750px;
    border: 1px solid black;
    margin-top: 100px;
    background-color: rgba(41, 41, 41, 0.8);
    padding: 80px 22px 52px;
    margin-left: auto;
    margin-right: 100px;
}

.pic-refresh{
    width: 50px;
    height: 50px;
    background-image: url("../../public/images/reload.png");
    background-size: 50px;
}
div > h3 {
    font-size: 30px;
    color: white;
}

.direction, .date{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.widget-search-ticket > .direction > div,
.widget-search-ticket > .date > div{
    display: flex;
    flex-direction: row;
}

.direction > .h3{
    width: auto;
    text-align: left;
}

.from, .to{
    width: 300px;
    border-radius: 5px;
    padding: 10px;
}

.widget-search-ticket > button{
    width: 320px;
    background-color: #FFA800;
    border: 1px solid #FFA800;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 16px 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #292929;
    align-self: flex-end;
    margin-top: 92px;
    cursor: pointer;
}
