@import url("../css/navigationMenu.css");
@import url("../css/mainPage.css");
@import url("../css/logo.css");
@import url("../components/pages/sections/findTickets/css/findTicketsWidget.css");
@import url("../components/pages/sections/aboutUs/css/aboutUs.css");
@import url("../css/howItWorks.css");
@import url("../components/pages/sections/feedback/css/feedback.css");
@import url("../components/pages/sections/footer/css/footer.css");
@import url("../components/pages/sections/footer/css/footer_bottom.css");
@import url("../components/pages/sections/findTickets/css/progressbar.css");
@import url("../components/pages/sections/ticketResults/css/ticket-results.css");
@import url("../components/pages/sections/seatSelection/seatSelection.css");
@import url("../components/pages/sections/findTickets/css/horizontalWidget.css");
@import url("../components/pages/sections/passangers/passenger.css");

section{
    display: flex;
}

.body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', serif
}

.display-none{
    display: none;
}

*{
    box-sizing: border-box;
}
