@import url("../components/pages/sections/payment/payment.css");
@import url("../components/pages/sections/confirmation/confirm.css");
@import url("../components/pages/sections/thanksPage/thnx.css");


section {
    display: flex;
}

.body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', serif
}

.display-none {
    display: none;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}
