.route {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid #C4C4C4;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0px;
    margin-bottom: 50px;
}

.route > .left {
    display: flex;
    flex-direction: column;

    width: 20%;
    padding: 20px;
    background-color: #E4E0E9;
}

.route > .left > img {
    margin-left: auto;
    margin-right: auto;
    width: 100px;

}

.route > .center {
    display: flex;
    flex-direction: row;

    width: 50%;
    background-color: white;
    margin: auto;
}

.route-from, .wrap, .route-to {
    margin-left: auto;
    margin-right: auto;
}

.route > .center > .wrap > .diff {
    color: #C4C4C4;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 7px;
}

.route > .right {
    width: 30%;
    background-color: white;
    border-left: 1px solid black;
    padding: 20px;
}


.from-to-wrap {
    display: flex;
    flex-direction: column;
}

.from-to-wrap > img {
    width: auto;
    height: 3px;
}

.route > .center > .route-from,
.route > .center > .route-to {
    display: flex;
    flex-direction: column;
}


.route > .center > .route-from > .time,
.route > .center > .route-to > .time {
    color: #2D2B2F;
    font-size: 24px;
    font-weight: 700;
    margin-right: auto;
}

.route > .center > .route-from > .wrap,
.route > .center > .route-to > .wrap {
    display: flex;
    flex-direction: column;
}

.route > .center > .route-from > .wrap > .city,
.route > .center > .route-to > .wrap > .city,
.route > .center > .route-from > .wrap > .station,
.route > .center > .route-to > .wrap > .station {
    text-transform: capitalize;
    margin-right: auto;
}

.route > .center > .route-from > .station,
.route > .center > .route-to > .station {
    color: #928F94;
}

.btn-seat-selection {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background-color: #FFA800;
    border-radius: 5px;
    border: none;
    padding: 6px 13px 9px 9px;
    cursor: pointer;
    box-sizing: border-box;
}
