.order-page-passengers-info {
    width: 960px;
    display: flex;
    flex-direction: column;
}

.payment-form-wrapper {
    width: 100%;
    margin-left: 70px;
}

.payment-form {
    background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
}

.payment-user div {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: left;
}


.payment-form-wrapper form {
    color: #292929;
}

.payment-user-section {
    border-top: none;
}

.payment-form-title {
    padding: 35px;
    text-align: left;
    background-color: #F9F9F9;
    font-weight: 400;
    font-size: 30px;
    color: #292929;
    border-top: 1px dashed #928F94;
    border-bottom: 1px dashed #928F94;
}

.payment-section.payment-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    padding: 30px 35px 54px;
}


.payment-section label {
    font-weight: 400;
    font-size: 16px;
    color: #292929;
}

.payment-section input {
    height: 50px;
    font-weight: normal;
    color: #292929;
    padding: 12px 15px;
    box-sizing: border-box;
    border: 1px solid #928F94;
    border-radius: 5px;
    margin-top: 8px;
}

.payment-contact-section {
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.payment-section.payment-phone, .payment-section.payment-email {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.payment-section.payment-phone {
    padding-bottom: 38px;
}

.payment-section.payment-email {
    padding-bottom: 90px;
}

.payment-section.payment-method {
    display: flex;
    flex-direction: column;

    padding-left: 0;
    padding-right: 0;
}

.payment-method section {
    display: flex;
    flex-direction: column;

    padding-top: 50px;
}

.payment-form-title {
    padding: 35px;
    text-align: left;
    background-color: #F9F9F9;
    font-weight: 400;
    font-size: 30px;
    color: #292929;
    border-top: 1px dashed #928F94;
    border-bottom: 1px dashed #928F94;
}


.payment-info_online {
    padding-bottom: 90px;
    padding-left: 35px;
    border-bottom: 1px dashed #928F94;
}

.method {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.method div {
    cursor: pointer;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #928F94;
    border-radius: 5px;
    margin-right: 20px;
}

.method span {
    font-weight: 400;
    font-size: 24px;
    color: #928F94;
}

.method > input {
    width: 30px;
    margin-right: 10px;
}

.online-payment-list {
    display: flex;
    justify-content: flex-start;
    margin-top: 28px;
}

.online-payment-list span {
    width: 190px;
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    color: #292929;
}

.method.cash {
    padding: 58px 35px 80px;
}

.method.active div {
    border-color: #FFA800;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAASCAYAAACw50UTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADFSURBVHgBrdThDYIwEAXgVydhE+MY+kc30A3ADXQD/VWdwlWYxPru0hCEAqG9lxAupPnu2jQ4GCe8USOggUPjYJgOjjHDhzDrqwmehPcGxzIFS1mEz8FF+BKcjYcXznzd5uAsnBMfiT2WYMlGpuDzCR4VDGGJIxxi3bLacXFrAevksijWFQ8puYMcWCfXtV7/BXVqB7lwh0814L62ufAfnmyA3hF9cXcHXLAio6s4aBA/4smJT7CINJBbpI/vHYtVtEEh/AO+iYCSQ7Ze9gAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 18px;
}

.method.active span {
    color: #FFA800;
}

.payment-form-btn {
    text-align: right;
    margin-top: 115px;
}

button.payment-form-btn {
    display: flex;
    margin-left: auto;

    align-self: flex-end;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 70px;
    background-color: #928F94;
    border: 1px solid #928F94;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

button.payment-form-btn.active {
    background-color: #FFA800;
    border: 1px solid #FFA800;
    cursor: pointer;
}
