.cost-filter {
    padding: 30px 34px 70px 32px;
    border-bottom: 1px solid #E5E5E5;
}

.cost-filter h3 {
    font-size: 30px;
    margin: 0;
    text-align: left;
}

.from-to-wrapper, .cost-wrapper {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.range-slider {
    cursor: pointer;
    height: 19px;
    position: relative;
}

.range-connects {
    height: 100%;
    width: 100%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
}

.range-connect, .range-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    transform-style: flat;
    box-sizing: border-box;
}

.range-connect {
    background-color: #FFA800;
    transform: translate(16.3683%, 0px) scale(0.57289, 1);
    width: 100%;
    height: 100%;
}

.range-origin-lower {
    transform: translate(-1000%, 0px);
    z-index: 5;
}

.range-origin {
    left: auto;
    right: 0;
}

.range-handle {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    top: -3px;
    transition: border .15s ease, transform .15s ease-in-out;
}
